


{{!-- <div class="container"> --}}
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h1>Wings That Have not been devoured</h1>
            <ul class="free">
                {{#each wings}}
                    {{#unless devoured}}
                        <p>{{wings_name}} <button type="button" class="btn btn-primary {{id}}"> button</button></p>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>
    
{{!-- </div> --}}


<div class="devoured">
    <h1>Wings That Have not been devoured</h1>
    {{#each wings}}
        {{#unless devoured}}
        <h3>{{wings_name}}</h3><button>Eat</button>
        {{/unless}}
    {{/each}}
</div>






